table {
	border-collapse: separate;
	border-spacing: 1px;
}

#calDiv {
	margin-left: 50px;
}

#calendar {
	margin-left:16px;
}

td {
	border: 1px solid #CCC;
	padding:4px;
	/*margin:3px;*/
	background: #F0F0F0;
	height: 5px;
	width:20px;
}


.hoverRow {
	border: 1px solid #000;	
}

td:hover {
	/*background-color: #ddd;*/
	/*opacity: 0.7;*/
}

.lot {
	background-color: #000000;
}

.much {
	background-color: #636363;
}

.more {
	background-color: #A3A3A3;
}

.little {
	background-color: #E0E0E0;
}

.labelRow {
	font-size: 9px;
	background: white;
	border:none;
	color:#A9A9A9;
}

.labelRow:hover {
	border: none;
}