#header{
font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #20F;
	margin: 0;
	padding: 0px 0px 10px 0px;
	font-size: 52px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: bold;
}

/*
#namelist {
	color: red;
}*/
.activeLocation {
	font-weight: bold;
	cursor: pointer;
}

.scroll{
    
    background-color: #F0F8FF;
    padding-left: 100px;
    padding-right: 100px;
    overflow-x: hidden;
    width: 850px;
    height: 180px;
    /*color: purple;*/
    font-size: 18px
}

.scrollCat {
	overflow-x: hidden;
	height:80px;
	background-color: #FFF;
}

.scrollVans{
    
    background-color: #F0F8FF;
    padding-left: 100px;
    padding-right: 100px;
    overflow-x: hidden;
    width: 480px;
    height: 160px;
    /*color: blue;*/
    font-size: 18px;
}
.scrollNotes{
    
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
    overflow-x: hidden;
    /*width: 850px;*/
    /*height: 180px;*/
    font-size: 14px
}

.scrollActs {
    overflow-x: hidden;
	height: 180px; background-color: #E0E0E0;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

.dimSpan {
	font-size: 17px;
	color: #909090;
}

.spanClass {
	font-size: 17px;
	font-weight: normal;
}

.myButton {
	background-color:#1c66e6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:5px 7px;
	text-decoration:none;
	text-shadow:0px 1px 4px #283966;
}
.myButton:hover {
	background-color:#285d99;
}
.myButton:active {
	position:relative;
	top:1px;
}


.mapButton {
	background-color:#15870b;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Arial;
	font-size:23px;
	padding:10px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.mapButton:hover {
	background-color:#5ce810;
}
.mapButton:active {
	position:relative;
	top:1px;
}

.container {
      /*padding-left:100px;
      padding-right:50px;*/
      
}

#expand {
	background-color: #300A24;
	color: #FFFFFF;
}

.currMenu {
	color: #808080;
	/*cursor: pointer;*/

}

#instantNotes {
	background-color: #300A24;
	color: #FFFFFF;
}
#map { 
	height: 180px;
}

.currVehicle {
	font-weight: bold;
}

.hoverList:hover {
	background-color: #D8F5F8;
}

.currPoiTab {
	font-weight: bold;
	background-color: #F0F0F0;
}

.currTab {
	font-weight: bold;
	background-color: #F0F0F0;
}

.vehicleClass {
	cursor: pointer;
}
.vehicleClass:hover {
	background-color: #D8F5F8;
}

.catClass {
	/*cursor: pointer;*/
	font-size: 16px; 
	height: 140px;
	/*font-weight: bold; */
	/*background-color: #F0F8FF;*/
	/*overflow-x: hidden;*/
	/*height: 60px;*/
}
.vehListClass{
	/*cursor: pointer;*/
	font-size: 16px; 
	height: 140px;
	/*font-weight: bold; */
	/*background-color: #F0F8FF;*/
	overflow-x: hidden;
	/*height: 60px;*/
}

.vehListClass:hover {
	background-color: #F9F8FA;
}

.expClass {
	cursor: pointer;
	font-size: 14px;
}

.fullWidth{
	padding-left: 8px;
	width: 100%;
}




