<!DOCTYPE html>
<html>
<br>
<title>Vehicles</title>

<head>
	<!-- Bootstrap -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

     <!-- Include Date Range Picker -->
	<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<script type="text/javascript" src="/canvasFiles/canvasjs.min.js"></script>


	<!-- Leaflet resources -->
	<link rel="stylesheet" href="/leaflet/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="/css/vehicle/vehicle.css">



	

<style type="text/css">
	th {
		background-color: #E0E0E0;
		padding:0 18px 0 18px;
	}
	#vehicle_activities_table {

	}
	.tableRows {
		cursor: pointer; 
	}

	.tableRows:hover {
		/*font-weight: bold;*/
		background-color: #F0F0F0;
	}

</style>



<!--  -->
	


 <!-- // <script src = "/lib/websocket.js"></script> -->
<!-- // socket.io -->
  

  <!-- // <script type="text/javascript" src = "adminSource/dashboard.js"></script> -->

<!-- Calendar -->
<!-- <link rel="stylesheet" href="adminSource/calendar.css" /> -->	

</head>

<body>

<div class = "row navbar-fixed-top" style = "background-color: #282828; color: #EEEEEE; padding-left: 25px; padding-right: 15px;">
		<!-- <div class = "col-sm-1"></div> -->
		<div class = "col-sm-6">
		<div class = "col-sm-2" style="padding-top:0.5em;"><a href="/vehicle" ><img id="logo" height="60em" width="60em" class="img-responsive img-circle"/></a></div>
		<h3><a href="/vehicle" onMouseOver="this.style.color='#fff'"><div id="company_name" class = "col-sm-10"></div></a></h3>
		</div>
		<div class = "col-sm-3"></div>
		<div class = "col-sm-1"><a href = "#" style = "text-decoration: none;"><h4>Apps</h4></a></div>
		<div class = "col-sm-1"><a href = "/editprofile" style = "text-decoration: none;"><h4>Profile</h4></a></div>
		<div class = "col-sm-1"><a href = "/logout" style = "text-decoration: none;"><h4>Log Out</h4></a></div>

</div>


<div class = "container">
	
	<!-- <span>{{name}}</span> -->
	<div class = "row" style="border-bottom:1px solid #CCCCCC;"><br>

		<div class = "col-sm-3">
			<!-- <a href = "/map"><button class = "btn btn-success btn-lg"><i class="material-icons w3-xxlarge">local_shipping</i></button></a> -->
			<div id = "vehicles_menu" class = "col-sm-6 currMenu"><h5><a href = "/vehicle" style = "text-decoration: none;"><span class = "glyphicon glyphicon-road"></span> Vehicles</a></h5></div>
			<div id = "POI_menu" class = "menuItem col-sm-5"><h5><a href = "/poi" style = "text-decoration: none;"><span class = "glyphicon glyphicon-map-marker"></span> POI</a></h5></div>
			<!-- <div id = "demo">Hey</div> -->


		</div>
		<div class = "col-sm-8">
		</div>
		
	</div><br>

	<div class = "row">
		<div style="border-right:1px solid #CCCCCC;height:500px" class = "col-md-3" id = "collapse_bar">

			<div class="row">
				<div class="col-md-10">
					<h5 id = "allCategories" style = "cursor: pointer;"><b>All Vehicles</b></h5><br>
					<div class = "row">
						<div id = "all_categories" style = "font-size: 16px;"></div>
					</div>
					<br><br>
					<a href="/vehicleadd/device" style = "text-decoration: none;"><span class = "glyphicon glyphicon-plus"></span>New Vehicle</a>
				</div>

				<!-- </div> -->
				<div class = "col-md-1"></div>
				<div class = "col-md-1" style= "padding-top: 180px; padding:bottom: 100px;">
						<span data-toggle="tooltip" data-placement="left" title="Hide/show" id = "collapse" style = "border-style: solid; border-color: #C0C0C0; border-width: 1px; cursor: pointer; color: #C0C0C0; font-size: 20px;" class = "glyphicon glyphicon-chevron-left"></span>
				</div>
			
			</div>
		</div>
		<div id = "expandDiv" style= "display: none; position: absolute; left: 0px; top: 360px;">
			<span data-toggle="tooltip" data-placement="left" title="Show Sidebar" id = "expandBar" class = "glyphicon glyphicon-chevron-right" style = "border-style: solid; border-color: #C0C0C0; border-width: 1px; cursor: pointer; color: #C0C0C0; font-size: 20px;"></span>
		</div>
		<div class = "col-md-9" id = "mapContainer">
			
			<div class = "col-md-8"></div>
			<div id ="vehicleBtnGroup" class = "col-md-4 btn-group" style="padding-right:0;">
				<button id = "actButton" class = "btn btn-default btn-sm pull-right">Activities</button>
				<button id = "dashButton" class = "btn btn-default btn-sm pull-right">Dashboard</button>
				<button id = "mapButton" class = "btn btn-default btn-sm currTab pull-right">Map</button>
				<!-- <button class = "btn btn-default btn-sm" onclick = "removeLayers()">Remove</button> -->
			</div><br /><br />

			<div class = "col-md-12" style = "height: 480px;" id = 'map'></div>

			<!-- activity -->

			<div style = "height: 480px; display: none;" id='act'>
				<br>

				<div class = "row">
					<div class = "col-md-10"></div>
					<div class = "col-md-2" style = "color: #AAA" id = "actAddition" data-toggle = "modal" ><span class = "glyphicon glyphicon-plus"></span>New Activity</div>

				</div>
				
				<table id = "vehicle_activities_table">
				</table>
				<br><br>
				<div id = "barAndAct" style = "display: none;" class = "row">
					<div class = "col-md-5">
					<h6>Frequency of visits</h6>
						<canvas id="my-chart" height="180"></canvas>
					</div>
					<div class = "col-md-1"></div>
				
					<div class = "col-md-6" >
					<h6>Activities</h6>
						 <div class = "scrollActs" id = "activity_list"></div>
					</div>

				</div>		

			</div>

			<div class = "col-md-12" id = 'dash'>
			 <!-- date picker -->
				   <div class="container">
				   <form class="form-inline" role="form">
				    <div class="form-group">
				      <label for="Fuel Consuption"><h4>Fuel Consumption<small> from </small></h4></label>
				   <input type="text" style = "height:30px;" name ="datefilter" value="" />
				   </div>
				   <div class="form-group">
				      <label for=""><h4><small> to </small></h4></label>
				    <input type="text" style = "height:30px;" name="datefilter" value="" />
				    </div>
				    </form>
				    </div>
				    <!-- end date picker -->

				<!-- chart -->
				    <div id="chartContainer" style="height: 200px; width: 90%; margin-left: 80px;"></div>
				<!-- end of chart -->
				<br><br>
				<div class="container">
				   <form class="form-inline" role="form">
				    <div class="form-group">
				      <label for="Speed"><h4>Speed<small> from </small></h4></label>
				   <input type="text" style = "height:30px;" name="datefilter" value="" />
				   </div>
				   <div class="form-group">
				      <label for=""><h4><small> to </small></h4></label>
				    <input type="text" style = "height:30px;" name="datefilter" value="" />
				    </div>
				    </form>
				    </div>

				    <!-- chart -->
				    <div id="chartContainer2" style="height: 200px; width: 90%; margin-left: 80px;"></div>
				<!-- end of chart -->

			</div>


		</div>


	</div>	

</div>

<div class = "row">
	<div class="modal fade" id="exModal" tabindex="-1" role="dialog" aria-labelledby="exModalLabel">
  <div class="modal-dialog" style = "margin-left: 550px; margin-right: 100px; margin-top: 200px; margin-bottom: 100px;" role="document">
    <div class="modal-content" style = "width: 300px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="recipient-name" class="control-label">Add New Activity </label>
            <input type="textarea" class="form-control" placeholder = "Add activity" id="activity_name" name = "recipient">
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" onclick = "sendActivity()" data-dismiss="modal" value = "Save">
      </div>
        
    </div>
  </div>
</div>
</div>

<div style="height:300px; visibility:hidden;" ></div>

<div class = "navbar-fixed-bottom" style = "background-color: #F0F0F0; opacity: 0.75; padding-right: 100px;">
 	<br><p style = "float:right;"><b>Maulik Taranga Pvt. Ltd. </b> <br>Copyright &copy; 2015</p>
</div>
	
	<script type="text/javascript" src='socket.io/socket.io.js'></script>
	<script src="/leaflet/leaflet.js"></script>
	  <!-- D3.js -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src = "/js/vehicle/vehicle.js"></script>
	
		<!-- Menu toggle -->
<!-- Calendar -->
<!-- <script type="text/javascript" src = "adminSource/calendar.js"></script> -->
</body>
<!-- 


 -->
	<!-- // Script for activity graph - calendar  -->

</html>

